<h1>Dev&#39;s Projects</h1>

<p style="color: green"><%= notice %></p>
<%= link_to "New project", new_project_path %>
<div id="projects" class="d-flex mt-4">
<hr>
  <% @projects.each do |project| %>

    <div class="card m-4 w-50 " style="width: 18rem;">
      <div class="card-body h-25 overflow-hidden">
        <%= render project %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "See more", project %></li>
      </ul>
    </div>

  <% end %>
</div>
